.movie__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    transition: background-image 0.5s ease-in;
    overflow: hidden;
}

.movie__content-topbar {
    height: 75%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, transparent 50%, rgba(0, 0, 0, 1) 100%);
}

.movie__content-header {
    padding: 90px;
}

.movie__content-header--title {
    font-size: 62px;
    font-weight: 700;
}

.movie__content-header--subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    color: #dedede;
}

.movie__content-aside {
    width: 35%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 0%, rgba(0, 0, 0, 1) 40%)
}

.content-aside-top {
    padding: 40px;

    .aside__top--image {
        cursor: pointer;
    }
}

.content__aside-season-area {
    height: 40px;
    width: 100%;
    max-width: 90%;
    position: relative;

    .aside__season-border {
        width: 100%;
        height: 1px;
        background: #7C8184;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
    }
}

.content-aside-bottom {
    flex: 1;
    padding: 0px 30px;
    max-height: 100%;

    .aside__bottom-area {
        padding: 0px 10px 25px;
        cursor: pointer;
        margin-right: 15px;
        z-index: 2;
    }

    .aside__bottom-area.focused {
        border-bottom: 2px solid #19af4f;
    }

    .aside__bottom_season-number {
        font-size: 20px;
        color: #ccc;
        font-weight: 500;
        user-select: none;
        transition: color 0.4s linear;
    }
    .aside__bottom_season-number:hover {
        color: #fff;
    }
}

.content__aside-episode {
    padding: 0px 0px 130px 0px;
    overflow-y: auto;
    height: 100%;
}

.content__aside-episode::-webkit-scrollbar {
    width: 8px;
    height: 40px; /* largura da barra de rolagem */
}

.content__aside-episode::-webkit-scrollbar-track {
    background: #898D90;
    border-radius: 8px;
}

.content__aside-episode::-webkit-scrollbar-thumb {
    background: #19af4f; /* cor do controle deslizante da barra de rolagem */
    border-radius: 6px; /* borda arredondada do controle deslizante */
}


.aside__episode--item {
    max-width: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 0.5px solid #898D90;
    cursor: pointer;
    transition: color 0.5s linear;
    overflow: hidden;
    height: 61px;
    transition: height 0.5s ease;
}

.aside__episode--item.opened {
    transition: height 0.5s ease;

    height: auto;
}

.aside__episode--item:hover .episode__title {
    color: #19af4f;
}

.episode__title {
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    color: #A6A7A2;
}


.episode__item-details {
    // position: absolute;
    margin-top: 10px;
    max-width: 92%;
}

.episode__item-figure {
    position: relative;
    img {
        border-radius: 8px;
        width: 100%;
    }
}

.episode__progress  {
    width: 90%;
    height: 2px;
    background-color: #dddd;
    border-radius: 10px;
}
.item__area-progress {
    position: absolute;
    bottom: 20px;
}

.progress {
    background-color: #19af4f;
    width: 34%;
    height: 2px;
}

.episode__item-details--paragraph {
   margin: 10px 0px;
   p {
    font-size: 18px;
    line-height: 1;
   }
}