/* reset scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  displays
*/
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* 
* Height
*/
.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

/* 
*  width
*/
.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.movie__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  transition: background-image 0.5s ease-in;
  overflow: hidden;
}

.movie__content-topbar {
  height: 75%;
  background: linear-gradient(to top, rgb(0, 0, 0) 10%, transparent 50%, rgb(0, 0, 0) 100%);
}

.movie__content-header {
  padding: 90px;
}

.movie__content-header--title {
  font-size: 62px;
  font-weight: 700;
}

.movie__content-header--subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
  color: #dedede;
}

.movie__content-aside {
  width: 35%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 0%, rgb(0, 0, 0) 40%);
}

.content-aside-top {
  padding: 40px;
}
.content-aside-top .aside__top--image {
  cursor: pointer;
}

.content__aside-season-area {
  height: 40px;
  width: 100%;
  max-width: 90%;
  position: relative;
}
.content__aside-season-area .aside__season-border {
  width: 100%;
  height: 1px;
  background: #7C8184;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

.content-aside-bottom {
  flex: 1;
  padding: 0px 30px;
  max-height: 100%;
}
.content-aside-bottom .aside__bottom-area {
  padding: 0px 10px 25px;
  cursor: pointer;
  margin-right: 15px;
  z-index: 2;
}
.content-aside-bottom .aside__bottom-area.focused {
  border-bottom: 2px solid #19af4f;
}
.content-aside-bottom .aside__bottom_season-number {
  font-size: 20px;
  color: #ccc;
  font-weight: 500;
  user-select: none;
  transition: color 0.4s linear;
}
.content-aside-bottom .aside__bottom_season-number:hover {
  color: #fff;
}

.content__aside-episode {
  padding: 0px 0px 130px 0px;
  overflow-y: auto;
  height: 100%;
}

.content__aside-episode::-webkit-scrollbar {
  width: 8px;
  height: 40px; /* largura da barra de rolagem */
}

.content__aside-episode::-webkit-scrollbar-track {
  background: #898D90;
  border-radius: 8px;
}

.content__aside-episode::-webkit-scrollbar-thumb {
  background: #19af4f; /* cor do controle deslizante da barra de rolagem */
  border-radius: 6px; /* borda arredondada do controle deslizante */
}

.aside__episode--item {
  max-width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 0.5px solid #898D90;
  cursor: pointer;
  transition: color 0.5s linear;
  overflow: hidden;
  height: 61px;
  transition: height 0.5s ease;
}

.aside__episode--item.opened {
  transition: height 0.5s ease;
  height: auto;
}

.aside__episode--item:hover .episode__title {
  color: #19af4f;
}

.episode__title {
  font-size: 20px;
  font-weight: 600;
  user-select: none;
  color: #A6A7A2;
}

.episode__item-details {
  margin-top: 10px;
  max-width: 92%;
}

.episode__item-figure {
  position: relative;
}
.episode__item-figure img {
  border-radius: 8px;
  width: 100%;
}

.episode__progress {
  width: 90%;
  height: 2px;
  background-color: rgba(221, 221, 221, 0.8666666667);
  border-radius: 10px;
}

.item__area-progress {
  position: absolute;
  bottom: 20px;
}

.progress {
  background-color: #19af4f;
  width: 34%;
  height: 2px;
}

.episode__item-details--paragraph {
  margin: 10px 0px;
}
.episode__item-details--paragraph p {
  font-size: 18px;
  line-height: 1;
}

.loading__movie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: black;
}

.loading-text {
  font-size: 18px;
  font-weight: 800;
  margin-top: 10px;
}

.movie__content-footer {
  background-color: #15161A;
  height: 25%;
}

.footer__content {
  width: 100%;
  max-width: 91%;
}

.footer__content-info {
  position: relative;
  margin-top: 20px;
}
.footer__content-info img {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.tabitem__footer-title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.footer__content--tabitem {
  padding: 0px 0px 10px 0px;
  margin-right: 98px;
  z-index: 2;
  cursor: pointer;
}

.footer__content--tabitem.focused {
  border-bottom: 2px solid #19af4f;
}

.footer__border {
  width: 100%;
  height: 1px;
  background-color: #7C8184;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

.content__general {
  width: 100%;
  max-width: 91%;
  padding-bottom: 40px;
}

.content__emoji {
  margin-right: 40px;
  margin-top: 30px;
}

.emoji__footer {
  margin-bottom: 10px;
}

.footer__sinopse {
  flex: 1;
}

.footer__sinopse-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer__sinopse-paragraph {
  font-weight: 600;
  font-size: 16px;
}

.content__cast {
  max-width: 91%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: none;
}

.content__cast-card {
  width: 200px;
  height: 100px;
  background: #1E1E1E;
  margin-right: 10px;
}

.elenco__firstname {
  font-size: 18px;
  font-weight: 700;
  color: #ccc;
}

.elenco__lastname {
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

.content__prem {
  height: 100px;
  display: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.lds-ring {
  /* change color here */
  color: #1c4c5b;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
